@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-Regular.ttf') format('truetype'),
       url('fonts/Comfortaa-Bold.ttf') format('truetype'),
       url('fonts/Comfortaa-Medium.ttf') format('truetype');
       url('fonts/Comfortaa-SemiBold.ttf') format('truetype');
       url('fonts/Comfortaa-Light.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  white-space: nowrap;
}

.header img {
  height: 84px;
  margin: 0 20px 0 0;
}
}

.header-title {
  padding: 0 5px;
}

.progress {
  margin: 50px 20px 10px 20px;
  font-size: 16px;
  display: flex;
}

.notes {
  margin: 0 20px;
}

#progressContainer {
  margin-left: 5px;
  width: 500px;
  height: 18px;
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
}

#encodeProgress {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background-color: green;
  transition: width 0.5s ease;
}

#saveCapture {
  display: none;
}

.buttonContainer {
  display: flex;
}

#status {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 14px;
}

.button {
  display: none;
  text-align: center;
  padding: 10px;
  border: 2px #F5DEB3;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #568ff4;
  border-radius: 5px;
}

.button:hover {
  color: white;
  background-color: green;
}

#review {
  color: blue;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}
