@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-Regular.ttf') format('truetype'),
       url('fonts/Comfortaa-Bold.ttf') format('truetype'),
       url('fonts/Comfortaa-Medium.ttf') format('truetype');
       url('fonts/Comfortaa-SemiBold.ttf') format('truetype');
       url('fonts/Comfortaa-Light.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

body, h2 {
  font-family: 'Comfortaa', serif;
  color: white;
}

body {
  margin: 10px 15px 5px 15px;
  background: #1b1b23;
}

h1 {
  text-align: center;
  margin-left: 75px;
}

#status, #timeRem {
  margin: 10px auto;
  text-align: center;
  font-size: 20px;
  white-space: nowrap;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
  white-space: nowrap;
}

.header img {
  height: 84px;
  margin: 0 20px 0 0;
}

ul {
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  padding: 0;
  text-align: center;
  padding-top: 10px;
}

ul li {
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
  margin: 10px 0 0 5px;
  display: block;
  text-align: left;
}

.extra {
  font-family: 'Comfortaa', serif;
  white-space: nowrap;
  font-style: italic;
  margin: 3px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links p {
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  display: none;
  text-align: center;
  padding: 10px;
  border: 2px #F5DEB3;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #568ff4;
  border-radius: 5px;
}

.button:hover {
  color: white;
  background-color: green;
}

.notes {
  padding: 10px;
  font-size: 12px;
  white-space: pre;
  text-align: center;
}
